@font-face {
  font-family: lato;
  src: url("fonts/lato.ttf"); }
p, h1 {
  font-family: lato; }

.link {
  display: inline-block;
  height: 4em;
  width: 12em;
  background-color: #02baab;
  margin: 4em 1em;
  border: 3px solid #02baab;
  cursor: pointer; }
  .link p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold; }
  .link:hover {
    background-color: transparent; }
    .link:hover p {
      color: #02baab; }

.header hr {
  width: 5%;
  margin-top: 2em;
  margin-bottom: 4em;
  height: 5px; }
.header h1 {
  font-size: 2.5em; }

.container-fluid > .row {
  padding-left: 3em;
  padding-right: 3em; }

.container-fluid > .row:nth-child(1) {
  background-color: black;
  text-align: center; }
  .container-fluid > .row:nth-child(1) .cell:nth-child(1) {
    position: relative; }
    .container-fluid > .row:nth-child(1) .cell:nth-child(1) input {
      background-color: black;
      border: 1px solid #85939f;
      color: #85939f;
      text-indent: 5px;
      padding: 0.5em;
      margin: 0.5em 0; }
    .container-fluid > .row:nth-child(1) .cell:nth-child(1) img {
      position: absolute;
      left: 62%;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer; }
  .container-fluid > .row:nth-child(1) .offsetCell {
    width: 50%; }
  .container-fluid > .row:nth-child(1) .cell:nth-child(3) div {
    float: left;
    height: 100%;
    width: 50%; }
    .container-fluid > .row:nth-child(1) .cell:nth-child(3) div p {
      color: #85939f;
      display: inline-block;
      position: relative;
      top: 45%;
      transform: translateY(-50%);
      padding-left: 6px;
      cursor: pointer; }
    .container-fluid > .row:nth-child(1) .cell:nth-child(3) div img {
      height: 40%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer; }

.container-fluid > .row:nth-child(2) {
  background-color: #474747;
  text-align: center; }
  .container-fluid > .row:nth-child(2) img {
    width: 40%;
    padding: 1em 0; }
  .container-fluid > .row:nth-child(2) .row {
    height: 100%; }
    .container-fluid > .row:nth-child(2) .row .button {
      float: left;
      width: 14.28571%;
      height: 100%;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      .container-fluid > .row:nth-child(2) .row .button .upper {
        height: 20%; }
      .container-fluid > .row:nth-child(2) .row .button .lower {
        height: 80%; }
      .container-fluid > .row:nth-child(2) .row .button p {
        color: white;
        font-size: 0.7em;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .container-fluid > .row:nth-child(2) .row .button:nth-child(1) .upper {
        background-color: #ffae00; }
      .container-fluid > .row:nth-child(2) .row .button:nth-child(2) .upper {
        background-color: #fc7100; }
      .container-fluid > .row:nth-child(2) .row .button:nth-child(3) .upper {
        background-color: #e51c5e; }
      .container-fluid > .row:nth-child(2) .row .button:nth-child(4) .upper {
        background-color: #ae0f8d; }
      .container-fluid > .row:nth-child(2) .row .button:nth-child(5) .upper {
        background-color: #6d0fae; }
      .container-fluid > .row:nth-child(2) .row .button:nth-child(6) .upper {
        background-color: #33227a; }
      .container-fluid > .row:nth-child(2) .row .button:nth-child(7) .upper {
        background-color: #0c8fcc; }

.container-fluid > .row:nth-child(3) {
  height: 50em;
  background-image: url("images/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  .container-fluid > .row:nth-child(3) > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .container-fluid > .row:nth-child(3) > div h1 {
      color: white;
      font-size: 3em; }

.container-fluid > .row:nth-child(4) {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 4em;
  background-color: white;
  color: grey; }
  .container-fluid > .row:nth-child(4) hr {
    background-color: grey; }

.container-fluid > .row:nth-child(5) {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #525252;
  color: white; }
  .container-fluid > .row:nth-child(5) hr {
    background-color: white; }
  .container-fluid > .row:nth-child(5) > .row .person {
    margin-top: 2em;
    width: 30%;
    height: 290px;
    float: left;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .container-fluid > .row:nth-child(5) > .row .person:nth-child(1) {
      background-image: url("images/project1.jpg"); }
    .container-fluid > .row:nth-child(5) > .row .person:nth-child(2) {
      margin-right: 5%;
      margin-left: 5%;
      background-image: url("images/project2.jpg"); }
    .container-fluid > .row:nth-child(5) > .row .person:nth-child(3) {
      background-image: url("images/project3.jpg"); }
    .container-fluid > .row:nth-child(5) > .row .person .about {
      height: 25%;
      position: relative;
      top: 75%;
      background-color: #3d3d3d; }
      .container-fluid > .row:nth-child(5) > .row .person .about div {
        float: left; }
        .container-fluid > .row:nth-child(5) > .row .person .about div:nth-child(1) {
          width: 80%;
          text-align: left;
          height: 100%; }
          .container-fluid > .row:nth-child(5) > .row .person .about div:nth-child(1) p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 20px; }
            .container-fluid > .row:nth-child(5) > .row .person .about div:nth-child(1) p span {
              color: #02baab; }
        .container-fluid > .row:nth-child(5) > .row .person .about div:nth-child(2) {
          width: 20%;
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
          .container-fluid > .row:nth-child(5) > .row .person .about div:nth-child(2) img {
            margin-bottom: 5px; }
          .container-fluid > .row:nth-child(5) > .row .person .about div:nth-child(2) p {
            color: #02baab; }

/*# sourceMappingURL=app.css.map */
